<div class="Adminlist">
    <h1>Voos Cadastrados</h1>
    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Data de Partida</th>
                <th>Horário</th>
                <th>Aeronave</th>
                <th>Classes</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (flight of flights; track flight.id) {
            <tr>
                <td>{{ flight.flight_number }}</td>
                <td>{{ flight.origin_airport[0]?.city }}</td>
                <td>{{ flight.destination_airport[0]?.city }}</td>
                <td>{{ flight.departure_date }}</td>
                <td>{{ flight.departure_time }}</td>
                <td>{{ flight.aircraft[0].model }}</td>
                <td>
                    @for (seat of flight.seat_classes; track seat.type) {
                    {{ seat.type }}: {{ seat.available_seats }}<br />
                    }
                </td>
                <td>
                    <button class="details-button" (click)="adicionarIdNaRota(flight.flight_number)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-eye">
                            <path d="M2.062 12.348a1 1 0 0 1 0-.696 
                           10.75 10.75 0 0 1 19.876 0 
                           1 1 0 0 1 0 .696 
                           10.75 10.75 0 0 1-19.876 0" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                        Detalhes
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <p>Lista de voos cadastrados</p>
</div>