<link rel="stylesheet" href="adm.component.css">
<div class="container">

    <h1 class="text">Painel de Administração AeroGo</h1>
    <div class="buttons">
        <button class="btn">Cadastrar Voo</button>
        <button class="btn secondary">Ver Voos</button>
    </div>
    <div class="form-container">
        <h2>Cadastrar Novo Voo</h2>
        
        <form class="form-grid">
            <div>
                <label>Número do Voo</label>
                <input type="text" value="LA1234">
            </div>
            <div>
                <label>Aeronave</label>
                <select>
                    <option>Selecione a aeronave</option>
                </select>
            </div>
            <div>
                <label>Origem</label>
                <input type="text" value="São Paulo (GRU)" disabled>

            </div>
            <div>
                <label>Destino</label>
                <input type="text" value="Rio de Janeiro (SDU)" disabled>
            </div>
            <div>
                <label>Data de Partida</label>
                <input type="date">
            </div>

            <div>
                <label>Data de Chegada</label>
                <input type="date">
            </div>
            <div>
                <label>Hora de Partida</label>
                <input type="time">
            </div>
            <div>
                <label>Hora de Chegada</label>
                <input type="time">
            </div>
            <div class="full-width">
                <h3>Classes de Assentos</h3>
            </div>
            <div>
                <label>Tipo</label>
                <input type="text" value="Econômica">
            </div>
            <div>
                <label>Assentos Disponíveis</label>
                <input type="number">
            </div>
            <div>
                <label>Preço (R$)</label>
                <input type="number">
            </div>

            <div class="full-width">
                <button class="btn secondary">Adicionar Classe</button>
            </div>

            <div class="full-width">
                <h3>Pacotes Adicionais</h3>
            </div>
            <div class="full-width">
                <button class="btn secondary">Adicionar Pacote</button>
            </div>
            <div class="full-width">
                <button class="btn primary">Cadastrar Voo</button>
            </div>
        </form>

    </div>
</div>