header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  top: 0;
  width: 100%;
}

.logo {
  font-weight: 600;
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  text-align: center;
}

nav {
  display: flex;

}

a {
  display: flex;

}

svg {
  margin-right: 10px;
}