<div class="container" [className]="'container'">

    <!-- Seção EDIÇÃO -->
    @if(flightIsEditing.flight_number) {
    <div class="box-title">
        <h1 class="title">{{ isEditing ? 'Editando Voo' : 'Visualizando Voo' }}: {{ flightIsEditing.flight_number }}
        </h1>
        <button (click)="isEditing = !isEditing" [class]="isEditing ? 'save-button' : 'edit-button'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                [attr.stroke]="isEditing ? '#fff' : '#000'" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">

                @if(!isEditing) {
                <path
                    d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                <path d="m15 5 4 4" />
                } @else {
                <path d="M19 21H6a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h13a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2z" />
                <path d="M17.5 3.5v4h-11v-4h11z" />
                }
            </svg>
            {{ isEditing ? 'Salvar' : 'Editar Perfil' }}
        </button>
    </div>

    <!-- FORMULÁRIO -->
    <div class="form-grid">
        <div>
            <label for="numeroVoo">Número do Voo</label>
            <input id="numeroVoo" [value]="flightIsEditing.flight_number" [disabled]="!isEditing"
                [className]="!isEditing && 'disabled'" [(ngModel)]="flightIsEditing.flight_number" />
        </div>
        <div>
            <label for="aeronave">Aeronave</label>
            <select id="aeronave" [disabled]="!isEditing" [className]="!isEditing && 'disabled'"
                [(ngModel)]="flightIsEditing.aircraft_id">
                <option disabled selected>Selecione a aeronave</option>
                @for (aircraft of aircrafts; track aircraft.id) {
                <option [value]="aircraft.id" [selected]="aircraft.id == flightIsEditing.aircraft.id">{{ aircraft.text
                    }}</option>
                }
            </select>
        </div>

        <div>
            <label for="origem">Origem</label>
            <app-input-autocomplete (validChange)="isValidOriginAirport = $event" [strings]="airports"
                [id]="flightIsEditing.origin_airport_id" (idSelected)="flightIsEditing.origin_airport_id = $event">
                <input #autocompleteInput id="origem" placeholder="São Paulo (GRU)" [disabled]="!isEditing"
                    [className]="!isEditing && 'disabled'" />
            </app-input-autocomplete>
        </div>

        <div>
            <label for="destino">Destino</label>
            <app-input-autocomplete (validChange)="isValidDestinationAirport = $event" [strings]="airports"
                [id]="flightIsEditing.destination_airport_id"
                (idSelected)="flightIsEditing.destination_airport_id = $event">
                <input #autocompleteInput id="destino" placeholder="Rio de Janeiro (SDU)" [disabled]="!isEditing"
                    [className]="!isEditing && 'disabled'" />
            </app-input-autocomplete>
        </div>

        <div>
            <label for="dataPartida">Data de Partida</label>
            <input type="date" id="dataPartida" [value]="flightIsEditing.departure_date" [disabled]="!isEditing"
                [className]="!isEditing && 'disabled'" [(ngModel)]="flightIsEditing.departure_date" />
        </div>
        <div>
            <label for="horaPartida">Hora de Partida</label>
            <input type="time" id="horaPartida" [value]="flightIsEditing.departure_time" [disabled]="!isEditing"
                [className]="!isEditing && 'disabled'" [(ngModel)]="flightIsEditing.departure_time" />
        </div>
        <div>
            <label for="dataChegada">Data de Chegada</label>
            <input type="date" id="dataChegada" [value]="flightIsEditing.arrival_date" [disabled]="!isEditing"
                [className]="!isEditing && 'disabled'" [(ngModel)]="flightIsEditing.arrival_date" />
        </div>
        <div>
            <label for="horaChegada">Hora de Chegada</label>
            <input type="time" id="horaChegada" [value]="flightIsEditing.arrival_time" [disabled]="!isEditing"
                [className]="!isEditing && 'disabled'" [(ngModel)]="flightIsEditing.arrival_time" />
        </div>
    </div>

    <!-- CLASSES -->
    <h3 class="subtitle">Classes de Assentos</h3>
    @for (class of flightIsEditing.seat_classes; track $index) {
    <div class="form-grid form-grid-assentos">
        <div>
            <label>Tipo</label>
            <select [disabled]="!isEditing" [className]="!isEditing && 'disabled'" [(ngModel)]="class.type">
                @for (type of seatTypes; track type.value) {
                <option [selected]="class.type == type.value" [value]="type.value">{{ type.label }}</option>
                }
            </select>
        </div>
        <div>
            <label>Assentos</label>
            <input type="number" [(ngModel)]="class.available_seats" [disabled]="!isEditing"
                [className]="!isEditing && 'disabled'" />
        </div>
        <div>
            <label>Preço (R$)</label>
            <input type="number" [(ngModel)]="class.price" [disabled]="!isEditing"
                [className]="!isEditing && 'disabled'" />
        </div>
        @if(isEditing) {
        <div><button class="remove-button" (click)="removeClassEditingFlight($index)">🗑</button></div>
        }
    </div>
    }
    @if(isEditing) {
    <button class="add-button" (click)="addClassEditingFlight()">+ Adicionar Classe</button>
    }

    <!-- PACOTES -->
    <h3 class="subtitle">Pacotes Adicionais</h3>
    @for (package of flightIsEditing.packages; track $index) {
    <div class="form-grid form-grid-pacotes">
        <div><label>Nome</label><input [(ngModel)]="package.name" [disabled]="!isEditing" /></div>
        <div><label>Descrição</label><input [(ngModel)]="package.description" [disabled]="!isEditing" /></div>
        <div><label>Preço (R$)</label><input type="number" [(ngModel)]="package.price" [disabled]="!isEditing" /></div>
        @if(isEditing) {
        <div><button class="remove-button" (click)="removePackageEditingFlight($index)">🗑</button></div>
        }
    </div>
    }
    @if(isEditing) {
    <button class="add-button" (click)="addPackageEditingFlight()">+ Adicionar Pacote</button>
    }

    <div class="actions">
        <button class="submit-button" (click)="onSubmitEdit()">Salvar Alterações</button>
    </div>
    }

    <!-- Seção NOVO VOO -->
    @else {
    <h1 class="title">Novo Voo</h1>

    <div class="form-grid">
        <div>
            <label>Número do Voo</label>
            <input [(ngModel)]="newFlight.flight_number" placeholder="LA1234" />
        </div>
        <div>
            <label>Aeronave</label>
            <select [(ngModel)]="newFlight.aircraft_id">
                <option disabled selected>Selecione a aeronave</option>
                @for (aircraft of aircrafts; track aircraft.id) {
                <option [value]="aircraft.id">{{ aircraft.text }}</option>
                }
            </select>
        </div>

        <div>
            <label>Origem</label>
            <app-input-autocomplete (validChange)="isValidOriginAirport = $event" [strings]="airports">
                <input [value]="newFlight?.origin_airport?.name + ' ' + newFlight?.origin_airport?.code" />
            </app-input-autocomplete>
        </div>

        <div>
            <label>Destino</label>
            <app-input-autocomplete (validChange)="isValidDestinationAirport = $event" [strings]="airports">
                <input [value]="newFlight?.destination_airport?.name + ' ' + newFlight?.destination_airport?.code" />
            </app-input-autocomplete>
        </div>

        <div>
            <label>Data de Partida</label>
            <input type="date" [(ngModel)]="newFlight.departure_date" />
        </div>
        <div>
            <label>Hora de Partida</label>
            <input type="time" [(ngModel)]="newFlight.departure_time" />
        </div>
        <div>
            <label>Data de Chegada</label>
            <input type="date" [(ngModel)]="newFlight.arrival_date" />
        </div>
        <div>
            <label>Hora de Chegada</label>
            <input type="time" [(ngModel)]="newFlight.arrival_time" />
        </div>
    </div>

    <!-- Botão final -->
    <div class="actions">
        <button class="submit-button">Cadastrar Voo</button>
    </div>
    }
</div>