<div class="container" [className]="'container'">

    <!-- Seção EDIÇÃO -->
    @if(flightIsEditing.flight_number) {
    <div class="box-title">
        <h1 class="title">{{ isEditing ? 'Editando Voo' : 'Visualizando Voo' }}: {{ flightIsEditing.flight_number }}
        </h1>
        <button (click)="isEditing = !isEditing" [class]="isEditing ? 'save-button' : 'edit-button'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                [attr.stroke]="isEditing ? '#fff' : '#000'" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">

                @if(!isEditing) {
                <path
                    d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                <path d="m15 5 4 4" />
                } @else {
                <path d="M19 21H6a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h13a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2z" />
                <path d="M17.5 3.5v4h-11v-4h11z" />
                }
            </svg>
            {{ isEditing ? 'Salvar' : 'Editar Perfil' }}
        </button>
    </div>

    <!-- FORMULÁRIO -->
    <div class="form-grid">
        <div>
            <label for="numeroVoo">Número do Voo</label>
            <input id="numeroVoo" name="flight_number" [value]="flightIsEditing.flight_number" [disabled]="!isEditing"
                [className]="!isEditing && 'disabled'" [(ngModel)]="flightIsEditing.flight_number" />
        </div>
        <div>
            <label for="aeronave">Aeronave</label>
            <select id="aeronave" name="aircraft_id" [disabled]="!isEditing" [className]="!isEditing && 'disabled'"
                [(ngModel)]="flightIsEditing.aircraft_id">
                <option selected>Selecione a aeronave</option>
                @for (aircraft of aircrafts; track aircraft.id) {
                <option [value]="aircraft.id" [selected]="aircraft.id == flightIsEditing.aircraft.id">{{ aircraft.text
                    }}</option>
                }
            </select>
        </div>

        <div>
            <label for="origem">Origem</label>
            <app-input-autocomplete (validChange)="isValidOriginAirport = $event" [strings]="airports"
                [id]="flightIsEditing.origin_airport_id" (idSelected)="flightIsEditing.origin_airport_id = $event">
                <input #autocompleteInput id="origem" name="origin_airport" placeholder="São Paulo (GRU)"
                    [disabled]="!isEditing" [className]="!isEditing && 'disabled'" />
            </app-input-autocomplete>
        </div>

        <div>
            <label for="destino">Destino</label>
            <app-input-autocomplete (validChange)="isValidDestinationAirport = $event" [strings]="airports"
                [id]="flightIsEditing.destination_airport_id"
                (idSelected)="flightIsEditing.destination_airport_id = $event">
                <input #autocompleteInput id="destino" name="destination_airport" placeholder="Rio de Janeiro (SDU)"
                    [disabled]="!isEditing" [className]="!isEditing && 'disabled'" />
            </app-input-autocomplete>
        </div>

        <div>
            <label for="dataPartida">Data de Partida</label>
            <input type="date" id="dataPartida" name="departure_date" [value]="flightIsEditing.departure_date"
                [disabled]="!isEditing" [className]="!isEditing && 'disabled'"
                [(ngModel)]="flightIsEditing.departure_date" />
        </div>
        <div>
            <label for="horaPartida">Hora de Partida</label>
            <input type="time" id="horaPartida" name="departure_time" [value]="flightIsEditing.departure_time"
                [disabled]="!isEditing" [className]="!isEditing && 'disabled'"
                [(ngModel)]="flightIsEditing.departure_time" />
        </div>
        <div>
            <label for="dataChegada">Data de Chegada</label>
            <input type="date" id="dataChegada" name="arrival_date" [value]="flightIsEditing.arrival_date"
                [disabled]="!isEditing" [className]="!isEditing && 'disabled'"
                [(ngModel)]="flightIsEditing.arrival_date" />
        </div>
        <div>
            <label for="horaChegada">Hora de Chegada</label>
            <input type="time" id="horaChegada" name="arrival_time" [value]="flightIsEditing.arrival_time"
                [disabled]="!isEditing" [className]="!isEditing && 'disabled'"
                [(ngModel)]="flightIsEditing.arrival_time" />
        </div>
    </div>

    <!-- CLASSES -->
    <h3 class="subtitle">Classes de Assentos</h3>
    @for (class of flightIsEditing.seat_classes; track $index) {
    <div class="form-grid form-grid-assentos">
        <div>
            <label>Tipo</label>
            <select name="seat_class_type_{{ $index }}" [disabled]="!isEditing" [className]="!isEditing && 'disabled'"
                [(ngModel)]="class.type">
                @for (type of seatTypes; track type.value) {
                <option [selected]="class.type == type.value" [value]="type.value">{{ type.label }}</option>
                }
            </select>
        </div>
        <div>
            <label>Assentos</label>
            <input type="number" name="seat_class_seats_{{ $index }}" [(ngModel)]="class.available_seats"
                [disabled]="!isEditing" [className]="!isEditing && 'disabled'" />
        </div>
        <div>
            <label>Preço (R$)</label>
            <input type="number" name="seat_class_price_{{ $index }}" [(ngModel)]="class.price" [disabled]="!isEditing"
                [className]="!isEditing && 'disabled'" />
        </div>
        @if(isEditing) {
        <div><button class="remove-button" (click)="removeClassEditingFlight($index)">🗑</button></div>
        }
    </div>
    }
    @if(isEditing) {
    <button class="add-button" (click)="addClassEditingFlight()">+ Adicionar Classe</button>
    }

    <!-- PACOTES -->
    <h3 class="subtitle">Pacotes Adicionais</h3>
    @for (package of flightIsEditing.packages; track $index) {
    <div class="form-grid form-grid-pacotes">
        <div><label>Nome</label><input name="package_name_{{ $index }}" [(ngModel)]="package.name"
                [disabled]="!isEditing" /></div>
        <div><label>Descrição</label><input name="package_description_{{ $index }}" [(ngModel)]="package.description"
                [disabled]="!isEditing" /></div>
        <div><label>Preço (R$)</label><input name="package_price_{{ $index }}" type="number" [(ngModel)]="package.price"
                [disabled]="!isEditing" /></div>
        @if(isEditing) {
        <div><button class="remove-button" (click)="removePackageEditingFlight($index)">🗑</button></div>
        }
    </div>
    }
    @if(isEditing) {
    <button class="add-button" (click)="addPackageEditingFlight()">+ Adicionar Pacote</button>
    }

    <div class="actions">
        <button class="submit-button" (click)="onSubmitEdit()">Salvar Alterações</button>
    </div>
    }

    <!-- Seção NOVO VOO -->
    @else {
    <h1 class="title">Novo Voo</h1>

    <form (submit)="onSubmitNewFlight()">
        <div class="form-grid">
            <div>
                <label>Número do Voo</label>
                <input name="flight_number" [(ngModel)]="newFlight.flight_number" class="disabled" disabled
                    placeholder="LA1234" required>
            </div>
            <div>
                <label for="aeronave">Aeronave</label>
                <select name="aircraft_id" id="aeronave" [(ngModel)]="newFlight.aircraft_id" required>
                    <option value="" disabled selected>Selecione a aeronave</option>
                    @for (aircraft of aircrafts; track aircraft.id) {
                    <option [value]="aircraft.id">{{ aircraft.text }}</option>
                    }
                </select>
            </div>

            <div>
                <label for="origem">Origem</label>
                <app-input-autocomplete (validChange)="isValidOriginAirport = $event" [strings]="airports"
                    [id]="newFlight.origin_airport_id" (idSelected)="newFlight.origin_airport_id = $event">
                    <input name="origin_airport" #autocompleteInput id="origem" placeholder="São Paulo (GRU)"
                        required />
                </app-input-autocomplete>
            </div>

            <div>
                <label for="destino">Destino</label>
                <app-input-autocomplete (validChange)="isValidDestinationAirport = $event" [strings]="airports"
                    [id]="newFlight.destination_airport_id" (idSelected)="newFlight.destination_airport_id = $event">
                    <input name="destination_airport" #autocompleteInput id="destino" placeholder="Rio de Janeiro (SDU)"
                        required />
                </app-input-autocomplete>
            </div>

            <div>
                <label>Data de Partida</label>
                <input name="departure_date" type="date" [(ngModel)]="newFlight.departure_date" required />
            </div>
            <div>
                <label>Hora de Partida</label>
                <input name="departure_time" type="time" [(ngModel)]="newFlight.departure_time" required />
            </div>
            <div>
                <label>Data de Chegada</label>
                <input name="arrival_date" type="date" [(ngModel)]="newFlight.arrival_date" required />
            </div>
            <div>
                <label>Hora de Chegada</label>
                <input name="arrival_time" type="time" [(ngModel)]="newFlight.arrival_time" required />
            </div>
        </div>

        <h3 class="subtitle">Classes de Assentos</h3>
        @for (class of newFlight.seat_classes; track $index) {
        <div class="form-grid form-grid-assentos">
            <div>
                <label>Tipo</label>
                <select name="seat_class_type_{{ $index }}" [(ngModel)]="class.type" required>
                    @for (type of seatTypes; track type.value) {
                    <option [selected]="class.type == type.value" [value]="type.value">{{ type.label }}</option>
                    }
                </select>
            </div>
            <div>
                <label>Assentos</label>
                <input name="seat_class_seats_{{ $index }}" type="number" [(ngModel)]="class.available_seats"
                    required />
            </div>
            <div>
                <label>Preço (R$)</label>
                <input name="seat_class_price_{{ $index }}" type="number" [(ngModel)]="class.price" required />
            </div>

            <div><button type="button" class="remove-button" (click)="removeClassNewFlight($index)">🗑</button></div>

        </div>
        }
        <button type="button" class="add-button" [disabled]="newFlight.seat_classes.length > 2"
            [class]="newFlight.seat_classes.length > 2 ? 'disabled' : ''" (click)="addClassNewFlight()">+
            Adicionar Classe</button>

        <!-- PACOTES -->
        <h3 class="subtitle">Pacotes Adicionais</h3>
        @for (package of newFlight.packages; track $index) {
        <div class="form-grid form-grid-pacotes">
            <div><label>Nome</label><input name="package_name_{{ $index }}" [(ngModel)]="package.name" required /></div>
            <div><label>Descrição</label><input name="package_description_{{ $index }}"
                    [(ngModel)]="package.description" required /></div>
            <div><label>Preço (R$)</label><input name="package_price_{{ $index }}" type="number"
                    [(ngModel)]="package.price" required /></div>
            <div><button type="button" class="remove-button" (click)="removePackageNewFlight($index)">🗑</button></div>
        </div>
        }
        <button [disabled]="newFlight.packages.length > 2" [class]="newFlight.packages.length > 2 ? 'disabled' : ''"
            class="add-button" type="button" (click)="addPackageNewFlight()">+ Adicionar
            Pacote</button>

        <!-- Botão final -->
        <div class="actions">
            <button type="submit" class="submit-button">Cadastrar Voo</button>
        </div>
    </form>
    }

</div>