.text {
    color: #0a0a52;
}

.buttons {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn.primary {
    background-color: #f23c97;
    color: white;
}

.btn.primary:hover {
    background-color: #ff007f;
    color: white;
}

.btn.secondary {
    background-color: #ddd;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-container {
    background: #fff;
    padding: 20px;
    max-width: 92%;
    margin: auto;
    color: #000;
    border-radius: 1em;
    border: solid 1px #E2E8F0;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.full-width {
    grid-column: span 2;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

h3 {
    margin-top: 20px;
}

.date-time-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 14px;
}

.date-time-group>div {
    width: 100%;
}