.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pro {
    background-color: #fff;
}

.profile {
    width: 80%;
    margin: 0 auto;
}

.profile h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 20px;
    color: black;
}

.btns {
    display: flex;
    gap: 10px;
    width: 28em;
    padding: 0.5em 0;
    border-radius: 5px;
    background-color: #F1F5F9;
    font-weight: 500;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em 0;
}


.tab {
    border-radius: 10px;
    background-color: #F1F5F9;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: #64748B;
    border-bottom: 2px solid transparent;

}

.tabs {
    background-color: #fff;
    color: black;
    padding: 3px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;

}