<div class="container">
    <app-header></app-header>
    <div class="info-adm">
        <h1>Painel de Administração AeroGo</h1>
        <div class="btns">
            <span [class]="modoFormulario ? 'tabs' : 'tab'" (click)="mostrarFormulario()">Cadastrar
                Voo</span>
            <span [class]="!modoFormulario ? 'tabs' : 'tab'" (click)="mostrarLista()">Ver Voos</span>
        </div>
    </div>
    <div class="container-admin">
        @if (modoFormulario) {
        <app-adminform [flightIsEditing]="flighToEdit"></app-adminform>
        } @else {
        <app-adminlist [flights]="flights"></app-adminlist>
        }
    </div>

</div>