.info-adm{
    padding: 20px;
}

.info-adm h1{
    font-size: 2em;
    margin-bottom: 15px;
    color: #1B0088;
    background-color: #fff;
}

.btns {
    display: flex;
    gap: 10px;
    width: 13em;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eef5fb;
}

.tab {
    border-radius: 10px;
    background-color: #F1F5F9;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    color: #64748B;
    border-bottom: 2px solid transparent;
}

.tabs {
    background-color: #fff;
    color: black;
    padding: 3px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}