<div class="container">
  <app-header></app-header>
  <main class="login">
    <div class="login-box">
      <h2>Acesse sua conta</h2>
      <p>Entre para reservar seus voos e acessar ofertas exclusivas</p>
      <form onsubmit="event.preventDefault();">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="seu@email.com" required>

        <label for="senha">Senha</label>
        <input type="password" id="password" placeholder="********" required>

        <a href="#" class="esqueci-senha">Esqueceu sua senha?</a>

        <button type="submit" onclick="login()">&#10145; Entrar</button>
      </form>
      <p class="cadastro">Não tem uma conta? <a href="#">Cadastre-se aqui</a></p>
    </div>
  </main>

</div>