<div class="container">
  <app-header></app-header>
  <main class="login">
    <div class="login-container">
      <div class="login-card">
        <h2 class="title">Acesse sua conta</h2>
        <p class="subtitle">Entre para reservar seus voos e acessar ofertas exclusivas</p>

        <form>
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="seu@email.com" [value]="user.email"
            (change)="onChangeEmail($event)" />
          <label for="senha">Senha</label>
          <input id="senha" type="password" placeholder="••••••••" [value]="user.password"
            (change)="onChangePassword($event)" />

          <div class="forgot-password">
            <a href="#">Esqueceu sua senha?</a>
          </div>

          <button type="submit" (click)="login()" [disabled]="disabled">
            <span class="icon">⇨</span> Entrar
          </button>
        </form>

        <p class="register">
          Não tem uma conta?
          <a href="/sig">Cadastre-se aqui</a>
        </p>

        <div class="demo-info">
          <strong>Demo:</strong> Para fazer login, use:
          <div>Email: <code>{{"eduardo.mendess@icloud.com"}}</code></div>
          <div>Senha: <code>123</code></div>
        </div>
      </div>
    </div>


  </main>

</div>