.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px #E5E7EB;
  margin: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.1s;
}

.container:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  flex-direction: column;
  color: #64748B;
}

.box-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.7em;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.box-two {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 0.7em;

}

.box-three {
  width: 20%;

}

.price {
  color: #1b0088;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.class {
  color: #64748B;
  font-weight: 500;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn {
  background-color: #1b0088;
  color: #ffffff;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #ff0083;
}

.ori-dest {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.airplane {
  width: 450px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: solid 1.5px #64748B;
}

.flight-info {
  display: flex;
  flex-direction: row;
}

.line {
  width: 50px;
  height: 50px;
  border: 5px solid #0171e1;
  border-top: 5px solid red;
  border-left: 5px solid red;
  border-radius: 50%;
  animation: rotate 1s linear infinite both;
}

.classes {
  color: #020817;
}

.class-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0;
}

.class-item {
  display: flex;
  flex-direction: column;
  border: solid 1px #E2E8F0;
  width: auto;
  padding: 0.5em 7em;
  border-radius: 8px;
  justify-content: center;
  animation: 1s linear infinite;
  text-align: center;
  cursor: pointer;
}

.class-item:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.class-item h1 {
  color: #000000;
  font-weight: 600;
  font-size: 1.1em;
}

.class-item p {
  color: #5c636c;
  font-size: 0.8em;
}