<main>
    <div class="container-preferences">
        <h2>Preferências de Viagem</h2>
      
        <div class="grid-preferences">
          <div class="card">
            <div>
              <h4>Preferência de assento</h4>
              <p>Janela</p>
            </div>
            <button>Alterar</button>
          </div>
      
          <div class="card">
            <div>
              <h4>Refeição</h4>
              <p>Padrão</p>
            </div>
            <button>Alterar</button>
          </div>
      
          <div class="card">
            <div>
              <h4>Notificações</h4>
              <p>Email e SMS</p>
            </div>
            <button>Alterar</button>
          </div>
      
          <div class="card">
            <div>
              <h4>Idioma</h4>
              <p>Português (Brasil)</p>
            </div>
            <button>Alterar</button>
          </div>
        </div>
      </div>
</main>