<div class="container">
  <app-header></app-header>
  <div class="sub-container">
    <div class="payment-container">
      <div class="btn-return">
        <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_162_150)">
            <path d="M7.99967 13.1667L3.33301 8.50001L7.99967 3.83334" stroke="#1B0088" stroke-width="1.33333"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M12.6663 8.5H3.33301" stroke="#1B0088" stroke-width="1.33333" stroke-linecap="round"
              stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath id="clip0_162_150">
              <rect width="16" height="16" fill="white" transform="translate(0 0.5)" />
            </clipPath>
          </defs>
        </svg>
        <p>Voltar para o resumo</p>
      </div>
      <div class="payment-box">
        <h1>Finalizar Pagamento</h1>
        <div class="content-container">
          <div class="left-column">
            <div class="payment-methods">
              <h2>Forma de Pagamento</h2>
              <div class="cards-container">
                <div class="card active">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.3203 5.5H4.32031C3.21574 5.5 2.32031 6.39543 2.32031 7.5V17.5C2.32031 18.6046 3.21574 19.5 4.32031 19.5H20.3203C21.4249 19.5 22.3203 18.6046 22.3203 17.5V7.5C22.3203 6.39543 21.4249 5.5 20.3203 5.5Z"
                      stroke="#1B0088" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M2.32031 10.5H22.3203" stroke="#1B0088" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                  <p>Cartão de Crédito</p>
                </div>
                <div class="card">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M7.98047 3.5H4.98047C4.42818 3.5 3.98047 3.94772 3.98047 4.5V7.5C3.98047 8.05228 4.42818 8.5 4.98047 8.5H7.98047C8.53275 8.5 8.98047 8.05228 8.98047 7.5V4.5C8.98047 3.94772 8.53275 3.5 7.98047 3.5Z"
                      stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M20.9805 3.5H17.9805C17.4282 3.5 16.9805 3.94772 16.9805 4.5V7.5C16.9805 8.05228 17.4282 8.5 17.9805 8.5H20.9805C21.5328 8.5 21.9805 8.05228 21.9805 7.5V4.5C21.9805 3.94772 21.5328 3.5 20.9805 3.5Z"
                      stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M7.98047 16.5H4.98047C4.42818 16.5 3.98047 16.9477 3.98047 17.5V20.5C3.98047 21.0523 4.42818 21.5 4.98047 21.5H7.98047C8.53275 21.5 8.98047 21.0523 8.98047 20.5V17.5C8.98047 16.9477 8.53275 16.5 7.98047 16.5Z"
                      stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M21.9805 16.5H18.9805C18.45 16.5 17.9413 16.7107 17.5663 17.0858C17.1912 17.4609 16.9805 17.9696 16.9805 18.5V21.5"
                      stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21.9805 21.5V21.51" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path
                      d="M12.9805 7.5V10.5C12.9805 11.0304 12.7698 11.5391 12.3947 11.9142C12.0196 12.2893 11.5109 12.5 10.9805 12.5H7.98047"
                      stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.98047 12.5H3.99047" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M12.9805 3.5H12.9905" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M12.9805 16.5V16.51" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M16.9805 12.5H17.9805" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M21.9805 12.5V12.51" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M12.9805 21.5V20.5" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>

                  <p>Pix</p>
                </div>
                <div class="card">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.65527 22.5H21.6553" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M6.65527 18.5V11.5" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M10.6553 18.5V11.5" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M14.6553 18.5V11.5" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M18.6553 18.5V11.5" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M12.6553 2.5L20.6553 7.5H4.65527L12.6553 2.5Z" stroke="#6B7280" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </svg>

                  <p>Boleto</p>
                </div>
              </div>
            </div>
            <div class="card-details">
              <div class="card-details-header">
                <h2>Dados do Cartão</h2>
              </div>
              <div class="payment-form">
                <div class="card-number">
                  <label for="cardNumber">Número do Cartão</label>
                  <input type="text" name="cardNumber" placeholder="0000 0000 0000 0000" [(ngModel)]="cardNumber">
                </div>
                <div class="card-info">
                  <div class="card-name">
                    <label for="cardName">Nome no Cartão</label>
                    <input type="text" name="cardName" id="cardName" placeholder="Nome conforme o cartão"
                      [(ngModel)]="cardName">
                  </div>
                  <div class="validity">
                    <label for="inputValidity">Validade</label>
                    <input type="text" name="inputValidity" id="inputValidity" placeholder="MM/AA"
                      [(ngModel)]="inputValidity">
                  </div>
                  <div class="cvv">
                    <label for="inputCVV">CVV</label>
                    <input type="text" name="inputCVV" id="inputCVV" placeholder="123" [(ngModel)]="inputCVV">
                  </div>
                </div>
                <div class="installments">
                  <label for="selInstallments">Parcelas</label>
                  <select name="selInstallments" id="selInstallments" (change)="selInstallments($event)">
                    @for (item of installmentsOptions; track item.label) {
                    <option [value]="item.value" [selected]="item === installmentsOptions[0]">{{ item.label }} sem juros
                    </option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="right-column">
            <div class="purchase-summary">
              <h2>Resumo da Compra</h2>

              @if (flight) {
              <div class="flight-details">
                <div class="flight-info">
                  <span>Voo:</span> <span>{{flight.flight_number}}</span>
                </div>
                <div class="flight-info">
                  <span>Trecho:</span> <span>São → Miami</span>
                </div>
                <div class="flight-info">
                  <span>Classe:</span> <span>
                    {{
                    seatType === 'economic' ? 'Econômica' :
                    seatType === 'premium' ? 'Premium' :
                    seatType === 'executive' ? 'Executiva' : ''
                    }}
                  </span>
                </div>
                <div class="flight-info">
                  <span>Passageiros:</span> <span>1</span>
                </div>
              </div>
              <div class="subtotal">
                <span>Subtotal</span> <span id="subTotal">R$ {{ subtotal }}</span>
              </div>

              <div class="price-details">
                <div class="total">
                  <span><strong>Total</strong></span>
                  <span><strong>R$ {{total}}</strong></span>
                </div>
                <p class="txtInstallments">em até 10x sem juros</p>
              </div>
              }

              <button class="finalize-button" (click)="validate()">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_179_126)">
                    <path
                      d="M13.8232 3.33331H3.15658C2.4202 3.33331 1.82324 3.93027 1.82324 4.66665V11.3333C1.82324 12.0697 2.4202 12.6666 3.15658 12.6666H13.8232C14.5596 12.6666 15.1566 12.0697 15.1566 11.3333V4.66665C15.1566 3.93027 14.5596 3.33331 13.8232 3.33331Z"
                      stroke="#F8FAFC" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1.82324 6.66669H15.1566" stroke="#F8FAFC" stroke-width="1.33333" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_179_126">
                      <rect width="16" height="16" fill="white" transform="translate(0.490234)" />
                    </clipPath>
                  </defs>
                </svg>
                Finalizar Compra
              </button>
              <div class="txtBox">
                <p class="txtError">{{txtError}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>